beautifulsoup4==4.9.3
bs4==0.0.1
soupsieve==2.2.1
PyMySQL==1.0.2
pyparsing==2.4.7
requests==2.25.1
vk-api==11.9.4
DateTime==4.3
vk==2.0.2
Werkzeug==2.0.1
zope.interface==5.4.0
uritemplate==3.0.1
urllib3==1.26.5
userpath==1.6.0
sqlparse==0.4.1
rsa==4.7.2
schedule==1.1.0
python-dateutil==2.8.1
lxml==4.6.3